<li>
	{{name}}
	<br>
	<button class="change-eat" data-id="{{id}}" data-neweat="{{eat}}">
		{{#if eat}}REMOVE EATEN BURGER{{else}}SEND BURGER TO CUSTOMER {{/if}}
	</button>
	<br>
	<button class="delete-burger" data-id="{{this.id}}">DELETE</button>
</li>
