<li>
	{{name}}

	<button class="change-eat" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}I'VE BEEN EATEN!{{else}}I'M GOING TO BE EATEN AGAIN...{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE ME PLEASE...</button>
</li>
